<!DOCTYPE html>
<html lang="zh-CN" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>angular-strap 研究</title>
    <link rel="stylesheet" href="/bower_components/bootstrap-additions/dist/bootstrap-additions.css"/>

    <!--<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>-->
    <link rel="stylesheet" href="/bower_components/bootswatch/cosmo/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/angular-motion/dist/angular-motion.css"/>
</head>
<body ng-controller="AppCtrl" ng-cloak>
    <div>
        <h1 ng-bind="title"></h1>

        <div>
            <button class="btn btn-success" ng-click="showModal();">show Modal</button>
            <button class="btn btn-success" ng-click="showAlert();">show Alert</button>
            <button class="btn btn-success" ng-click="showAside();">show Aside</button>
            <button class="btn btn-success" ng-click="showTooltip();">show Tooltip</button>
            <button class="btn btn-success" ng-click="hideTooltip();">hide Tooltip</button>
        </div>

        <div>
            <div>
                <form name="regForm" validate-form>
                    <div>
                        <label>name : </label>
                        <input type="text" ng-model="user.name" required ng-minlength="2" ng-maxlength="4"/>
                    </div>

                    <div>
                        <label>age : </label>
                        <input type="number" ng-model="user.age" required ng-pattern="/^[1-9]\d{0,1}$/"/>
                    </div>

                    <div>
                        <label>sex : </label>
                        <select ng-model="user.sex">
                            <option value="boy">boy</option>
                            <option value="girl">girl</option>
                        </select>
                    </div>

                    <div>
                        <label>hobby : </label>
                        <span>听歌</span>
                        <input type="checkbox" ng-model="user.hobbies.music"/>
                        <span>看电影</span>
                        <input type="checkbox" ng-model="user.hobbies.movie"/>
                    </div>

                    <div>
                        <label>email : </label>
                        <input type="email" ng-model="user.email" required/>
                    </div>

                    <div>
                        <label>url : </label>
                        <input type="url" ng-model="user.url"/>
                    </div>

                    <div>
                        <label>intro : </label>
                        <textarea ng-model="user.intro"></textarea>
                    </div>

                    <div>
                        <button type="submit">提交</button>
                        <button type="reset">重置</button>
                    </div>
                </form>
            </div>

            <div>
                <pre ng-bind="user | json"></pre>
            </div>
        </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="app.js"></script>
</body>
</html>